@import "tailwindcss";

@theme {
	--color-base: rgb(35, 31, 32);
	--color-surface: rgb(234, 225, 223);
	--color-surface-active: rgb(215, 207, 205);
	--color-accent: rgb(102, 119, 97);
	--color-highlight: rgb(183, 148, 146);
}

:root {
	font-family: "Space Grotesk", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}