@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-text: rgb(46, 52, 56);
	--color-text-alt: white;
	--color-text-muted: oklch(55.1% 0.027 264.364);
	--color-base: white;
	--color-base-alt: #f9fafb;
	--color-surface: rgb(246, 249, 252);
	--color-surface-active: #dfe5eb;
	--color-accent: #DFE6EA;
	--color-action: #60935D;
	--spacing-normal: 10px;
}

.dark {
	--color-text: hsl(0, 0%, 95%);
	--color-text-alt: hsl(0, 0%, 70%);
	--color-text-muted: hsl(0, 0%, 70%);
	--color-base: hsl(0, 0%, 0%);
	--color-base-alt: rgb(45, 45, 45);
	--color-surface: hsl(0, 0%, 10%);
	--color-surface-active: hsl(0, 0%, 18%);
	--color-accent: hsl(0, 0%, 20%);
	--color-action: #60935D;
	--spacing-normal: 10px;
}

:root {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	@apply text-text
}

h1 {
	@apply text-4xl font-bold;
}

h2 {
	@apply text-3xl font-bold;
}

h3 {
	@apply text-2xl font-semibold;
}

h4 {
	@apply text-xl font-semibold;
}

.clicky {
	@apply text-blue-500 underline cursor-pointer hover:text-blue-400 transition-colors;
}