@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-text: rgb(46, 52, 56);
	--color-text-alt: white;
	--color-base: white;
	--color-base-alt: #f9fafb;
	--color-surface: rgb(246, 249, 252);
	--color-surface-active: #dfe5eb;
	--color-accent: #DFE6EA;
	--color-action: #60935D;
	--spacing-normal: 10px;
}

.dark {
	--color-text: white;
	--color-text-alt: rgb(46, 52, 56);
	--color-base: rgb(30,30,30);
	--color-base-alt: rgb(45,45,45);
	--color-surface: #313131;
	--color-surface-active: #3d3d3d;
	--color-accent: #858585;
	--color-action: #60935D;
	--spacing-normal: 10px;
}

:root {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	@apply text-text
}

h1 {
	@apply text-4xl font-bold;
}
h2 {
	@apply text-3xl font-bold;
}
h3 {
	@apply text-2xl font-semibold;
}
h4 {
	@apply text-xl font-semibold;
}
