.fade {
	animation: fade 200ms ease-in-out forwards;
	opacity: 0;
}

.pop-in {
	animation: pop-in 300ms cubic-bezier(0.33, 1, 0.68, 1) forwards;
	translate: 0 200%;
}

.pop-out {
	animation: pop-in 200ms cubic-bezier(0.33, 1, 0.68, 1) reverse;
}


@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes pop-in {
	from {
		translate: 0 200%;
	}

	to {
		translate: 0 0%;
	}
}
